html, body {
  margin: 0;
  padding: 0;
}

div {
  background-color: #000000;
  font-family: 'Courier';
  color: #FFFFFF;
  
  font-size: 3pt;
  line-height: 2pt;
  width: fit-content;
}

canvas {
  display: block;
}
